aenum==3.1.0
appdirs==1.4.4
autopep8 @ file:///tmp/build/80754af9/autopep8_1620866417880/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
click-params==0.1.2
cloup==0.8.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.10.0
dateparser==1.0.0
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
deprecation==2.1.0
dogpile.cache==1.1.3
fonttools==4.25.0
fusepy==3.0.1
gurobipy==9.1.2
html5lib==1.1
htmllistparse==0.5.2
idna==2.8
ipykernel @ file:///C:/ci/ipykernel_1607454116140/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1628244015142/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///C:/ci/jedi_1611341083684/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213515523/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
lxml==4.9.1
matplotlib @ file:///C:/ci/matplotlib-suite_1628011511716/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
measurement==3.2.0
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
mpmath==1.3.0
munkres==1.1.4
numpy==1.22.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging==21.0
pandas==1.3.1
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pbr==5.6.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1625663294916/work
Pint==0.17
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PyPDF2==1.27.5
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.1
pywin32==301
pyzmq==20.0.0
rapidfuzz==1.4.1
regex==2021.8.3
requests==2.26.0
requests-cache==0.5.2
requests-ftp==0.3.1
scipy==1.7.1
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.2.1
stevedore==3.3.0
sympy==1.8
tabulate==0.8.9
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm==4.62.0
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
tzlocal==2.1
urllib3==1.26.7
validators==0.18.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
wincertstore==0.2
